<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--
            <script src="https://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
        -->
    <!-- <script src="./static/js/vconsole.min.js"></script> -->
    <script src="./static/js/polyfill.min.js"></script>
    <script src="./static/js/sdk.js"></script>
    <!-- <script src="./static/js/vconsole.min.js"></script> -->
    <script src="./static/js/flexible.js"></script>
    <title></title>
  </head>

  <body>
    <div id="app-box"></div>
  </body>
</html>
